

body {
  font-family: 'Roboto', sans-serif;
  font-size:3.5em;
  font-weight: 100;
  letter-spacing:-0.04em;
  margin:0;
}

.tweet {
  padding: 75px;
}
.tweet .tweet-link {
    font-weight: 400;
}

.profile-picture img {
    width  : 100px;
    height : 100px;

}

#back-image {
  background-size:cover;
  background-position:center center;
  opacity:.35;
  /*position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-10;*/
}

@media only screen and (device-width: 320px) {
  /* Style adjustments for viewports 520px and lower */
  body { font-size:6em; }
}

@media only screen and (device-width: 320px) and (-webkit-min-device-pixel-ratio: 2) {
  /* Style adjustments for viewports 520px and lower */
  body { font-size:6em; }
}