/* Styling will be done in SCSS because I like to */
/* This files compiles to css styles.css */

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    font-weight: 100;

    letter-spacing: -.03em;

    background-color: #FBFBFB;
}

.push {
    clear: both;
    height: 4em;
}

.footer {
    @extend .push;
  position: fixed;
  top: 94%;
  height: 5%;
  width: 100%;
  padding: 5px;
}

.container {
    padding-top: 1em;
}

.tweet {
    padding: 75px;
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 2%;
    width: 30%;


    a {
        text-decoration: none;  
    }

    .tweet-link {
        font-weight: 400;
        color: #555555;
        font-size: 28px;
    }

    .timeago {
        font-size: 16px;
        color: #B0B0B0;
    }

    .profile-picture {
        
        float: left;
        margin-right: 2%;

        img {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            border: 1px solid #DCDCDC
        }
    }
    
    .status {
        font-size: 20px;
        font-weight: 200;
        color: #7F7F7F;
        margin-bottom: -4%;

        a {

        }

    }

    .media {
      border-radius: 8px;
      // margin: 5% 5% 3% 5%;
      // width: 90%;
    }
}

.wrapper {
    height: auto;
    height: 100%;
    min-height: 100%;
    margin: 0 auto -4em;

    .background {
        width: 100%;
        min-width: 100%;
        height: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
        
        .smaller {
            font-size: .7em;

            transform: translate3d(-50%, 0%, 0);
            text-transform: none;
        }

        span {
            font-family: helvetica;
            font-size: 200px;
            font-weight: 900;
            line-height: 180px;

            position: fixed;
            z-index: -1;
            top: 50%;
            left: 50%;

            height: 200px;

            -webkit-transform: translate3d(-50%, -50%, 0);
               -moz-transform: translate3d(-50%, -50%, 0);
                -ms-transform: translate3d(-50%, -50%, 0);
                 -o-transform: translate3d(-50%, -50%, 0);
                    transform: translate3d(-50%, -50%, 0);
            text-transform: uppercase;

            opacity: 1;
            color: #00000f;
            color: rgba(0, 0, 0, .07);
        }
    } 


}


.no-js .loader {
    display: none;
}

.js .loader {
    position: absolute;
    top: 0;
    left: 100px;

    display: block;
}
.loader {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: url(../img/preloader.gif) center no-repeat #fff;
}

.message {
    font-size: .5em;
    background-color: #FFF;
    text-align: center;
    text-transform: lowercase;
    padding: 10px;
    color: #5C5C5C;
}

.highlight {
    text-transform: uppercase;
    font-weight: bold;
    color: #0096E4;
}